body {
    font-family: "Times New Roman", "Courier New", Ariel;
    text-align: center;
    background-color: rgb(21, 21, 58);
}

h1 {
    font-style: oblique;
    text-decoration: double;
    text-decoration-line: underline;
    color: skyblue;
}

ul, 
li {
    text-align: center;
    color: white;
    font-style: italic;
    border: 3px solid white;
}

li {
    border: 1px solid white;
}

a:visited {
    color: white
}